@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ar">
<head>
    <title>Tasahel Express</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link href="~/Start/images/TasahelExpress.png" rel="icon">
    <link href="~/Start/images/TasahelExpress.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/Start/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Start/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Start/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Start/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Start/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Start/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Start/css/aos.css">
    <link rel="stylesheet" href="~/Start/css/style.css">
</head>
<body>
    <div class="site-wrap">
        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>
        <header class="site-navbar py-3" role="banner" dir="rtl">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0"><a href="@Url.Action("Login","LoginRecipt")" class="text-white h2 mb-0">انضم الينا</a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-left" role="navigation">
                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li class="active"><a href="">الرئيسية</a></li>
                                <li><a href="#About">من - نحن</a></li>
                                <li class="">
                                    <a href="#services">الخدمات</a>
                                </li>
                                <li><a href="#Testimonials">أراء العملاء</a></li>
                                <li><a href="#footer">تواصل - معنا</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                </div>
            </div>
        </header>
        <div class="site-blocks-cover overlay" style="background-image: url(/Start/images/TasahelExpress.png);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center text-center">
                    <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                        <h1 class="text-white font-weight-light mb-5 text-uppercase font-weight-bold">Tasahel Express </h1>
                        <p><a href="/Home/Login" target="_blank" class="btn btn-primary py-3 px-5 text-white">تسجيل الدخول</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======= container Section ======= -->
        <div class="container">
            <div class="row align-items-center no-gutters align-items-stretch overlap-section">
                <div class="col-md-3">
                    <div class="feature-1 pricing h-100 text-center">
                        <div class="icon">
                            <span class="icon-dollar"></span>
                        </div>
                        <h2 class="my-4 heading">أفضل الأسعار</h2>
                        <p>نحن نقدم أسعارًا موثوقة ومرنة بشكل معقول لجميع الفئات مع خدمة متسقة ويمكن الاعتماد عليها ودقيقة بسعر فعال من حيث التكلفة</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-3 pricing bg-dark h-100 text-center">
                        <div class="icon">
                            <span class=""><i class="fa-solid fa-gauge-high"></i></span>
                        </div>
                        <h2 class="my-4 heading">اسرع شحن في مصر</h2>
                        <p>توصيل سريع جدًا ، في جميع أنحاء مصر في القاهرة والإسكندرية خلال 24 ساعة وفقط 48 ساعة إلى باقي الأماكن في جميع أنحاء مصر</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-3 pricing h-100 text-center">
                        <div class="icon">
                            <span class="icon-phone"></span>
                        </div>
                        <h2 class="my-4 heading">24/7 الدعم</h2>
                        <p>نظام خدمة عملاء محترف يتفهم احتياجاتك ويسهل عليك حل مشاكلك</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature-3 pricing bg-dark h-100 text-center">
                        <div class="icon">
                            <span class=""><i class="fa-solid fa-truck-fast"></i></span>
                        </div>
                        <h2 class="my-4 heading">تتبع</h2>
                        <p>تتبع شحنتك خطوة بخطوة حتى يتم تسليمها واحسب تقاريرك اليومية من خلال نظام الشحن عالي التفاصيل الخاص بنا.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End container Section -->
        <!-- ======= about Section ======= -->
        <div id="About" class="site-section mt-4" dir="rtl">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
                        <img src="~/Start/images/TasahelExpress.png" alt="Image" class="img-fluid rounded">
                    </div>
                    <div class="col-md-6 order-md-1" data-aos="fade" style="text-align: justify;">
                        <div class="text-left pb-1 border-primary mb-4">
                            <h2 class="text-primary">من - نحن</h2>
                        </div>
                        <p>نحن نقدم خدمات توصيل طرود سريعة ومريحة وسهلة الاستخدام تجعل المستهلكين يشعرون بالتقدير وتشعر الشركات بالتمكين.</p>
                        <p class="">مع سنوات من الخبرة والخبرة في مجال الشحن ، نحن ملتزمون بتزويد عملائنا بأفضل الخدمات وأكثرها احترافية في أقل فترة زمنية مقدرة.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End about Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">
                <div class="section-title text-center" data-aos="fade-up">
                    <h2> <strong>الخدمات</strong></h2>
                    <p>
                        دلوقتى تقدر تتابع شغلك وفواتيرك اليوميه من على موقعنا الرسمى
                        وكمان تقدر تنزل الابليكيشن بنسخة الاندرويد او من عليه
                        استعد لاستلام فاتورتك كل يوم
                        اسرع تسليمات فى مصر
                        انت مميز عشان مع تساهيل
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box" data-aos="fade-up">
                            <div class="icon"><i class="fa-solid fa-truck fa-xl"></i></div>
                            <h4 class="title"><a href="">تابع شحنتك في اي مكان</a></h4>
                            <p class="description">
                                شغلك اونلاين وبتواجهك مشاكل كتير مع شركات الشحن!
                                Tasahel Express وفرتلك أبلكيشن تتابع شحناتك من خلاله بكل سهولة
                                هتتابع شحنتك وانت في مكانك في البيت ! وهتطمن انها وصلت للعميل
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                            <div class="icon"><i class="fa-solid fa-cart-flatbed fa-xl"></i></div>
                            <h4 class="title"><a href="">شحنتك في أمان</a></h4>
                            <p class="description">
                                تعرف ان انطباع عميلك الأول عن البيزنس بتاعك بيكون من خلال شركة الشحن وتغليف الأوردر
                                وفرنالك في تساهيل خدمة التغليف المجاني عشان نساعدك
                                تشحن اوردراتك وانت متطمن علي رضا عميلك
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                            <div class="icon"><i class="fa-solid fa-box"></i></div>
                            <h4 class="title"><a href="">سهولة التوصيل</a></h4>
                            <p class="description">
                                طلبات البيت كتير ومعندكش وقت تنزل في الزحمة!
                                متشلش هم الزحمة طلبات البيت ومشاويرك دلوقتي اسهل مع تساهيل
                                هنجيبلك أي حاجة من أي مكان لحد باب بيتك
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Services Section -->
        <!-- ======= site-section Section ======= -->
        <div class="site-section block-13">
            <div class="owl-carousel nonloop-block-13">
                <div>
                    <a href="#" class="unit-1 text-center">
                        <img src="~/Start/images/TasahelExpress.png" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">اسرع شحن وتوصيل في مصر</h3>
                            <p class="px-5">لان اكتر حاجه ممكن ترضي عميلك ان الاوردر يوصله بسرعه وفرنالك خدمه شحن متميزه وسريعة</p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" class="unit-1 text-center">
                        <img src="~/Start/images/TasahelExpress.png" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">معاك في كل مكان </h3>
                            <p class="px-5">
                                بتواجهك مشكلة الشحن بصورة مستمرة في الطلبات الأونلاين
                                انسي مشاكل الشحن دلوقتي Tasahel Express مع
                            </p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" class="unit-1 text-center">
                        <img src="~/Start/images/TasahelExpress.png" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading mb-5">تابع اوردراتك لحظه بلحظه</h3>
                            <p class="px-5">تابع اوردراتك لحظه بلحظه من خلال تطبيقنا او من عالموقع الرسمى لشركتنا</p>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="#" class="unit-1 text-center">
                        <img src="~/Start/images/TasahelExpress.png" alt="Image" class="img-fluid">
                        <div class="unit-1-text">
                            <h3 class="unit-1-heading">عميلك معجبوش المنتج عند الاستلام</h3>
                            <p class="px-5">
                                متشلش هم الاوردرات  وابدأ في تجربة الشحن مع Tasahel Express
                                مع خدمة المرتجعات المجانيةهتقدر تشحن  اوردراتك من غير قلق ومن غير ما تخسر عملاء
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- End site-section Section -->
        <!-- ======= Testimonials Section ======= -->
        <div id="Testimonials" class="site-section border-bottom">
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-md-7 text-center border-primary">
                        <h2 class="font-weight-light text-primary">أراء العملاء</h2>
                        <p>نحن فخورون بدعم عملائنا الأقوياء لنا لتمكين دورنا في سوق الخدمات اللوجستية وفي رحلتهم لتنمية أعمالهم.</p>
                    </div>
                </div>
                <div class="slide-one-item home-slider owl-carousel">
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Start/images/reviw.jpg" alt="Image" class="img-fluid mb-3">
                                <p>Donia Sabry</p>
                            </figure>
                            <blockquote>
                                <p>
                                    &ldquo;من افضل الشركات بجد فى التعامل والشحن
                                    المندوبين قمه فى الاحترام والذوق
                                    سرعه فى الشحن وتسليم الاوردرات وتحصيل المبالغ وتسليمها فى اسرع وقت وبدوت تاخير
                                    بجد شكرا جدا ومبسوطه بالتعامل معاكوا
                                    ويا رب دايما فى نجاح وتقدم وتفضلوا محل ثقه لكل العملاء
                                    دنيا Donia Aubusson -  دنيا الأوبيسون&rdquo;
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Start/images/ahmed.jpg" alt="Image" class="img-fluid mb-3">
                                <p>Ahmed Samir</p>
                            </figure>
                            <blockquote>
                                <p>&ldquo;اسرع خدمة وثقة وباقل تكلفة&rdquo;</p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Start/images/Amer.jpg" alt="Image" class="img-fluid mb-3">
                                <p>Ahmed Amer</p>
                            </figure>
                            <blockquote>
                                <p>&ldquo;شركه شحن ممتازه ودقه في التعامل اعتقد لو كملتوا علي الوضع دا هتبقوا رقم واحد في الجمهوريه بالتوفيق ان شاء الله&rdquo;</p>
                            </blockquote>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial">
                            <figure class="mb-4">
                                <img src="~/Start/images/jomana.jpg" alt="Image" class="img-fluid mb-3">
                                <p>Jomana Atef</p>
                            </figure>
                            <blockquote>
                                <p>
                                    &ldquo;شركة شحن فى منتهى المهنية اسرع شركة جربتها ف التوصيل فعلا و التعامل ف منتهى الذوق و اسرع تحصيل مرسى ليكم و بالتوفيق
                                    &rdquo;
                                </p>
                            </blockquote>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Testimonials Section -->
        <!-- ======= MISSION Section ======= -->
        <div class="site-section mt-4" dir="rtl">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 order-md-1" data-aos="fade">
                        <div class="text-right pb-1  mb-4">
                            <h2 class="text-primary">المهام</h2>
                        </div>
                        <div class="text-right">
                            <p>لتوفير خدمات توصيل آمنة وفعالة لعملائنا بأسعار معقولة في فترة زمنية ثابتة.</p>
                            <p class="">نحن نمكّن عملائنا من النمو من خلال تسليم شحناتهم في الوقت المحدد بطريقة احترافية للغاية.</p>
                            <p class="">نستمر في تشجيع كل عضو في فريقنا على بذل قصارى جهدهم لتلبية توقعات العملاء.</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-1" data-aos="fade">
                        <div class="text-right pb-1  mb-4">
                            <h2 class="text-primary">الرؤية</h2>
                        </div>
                        <div class="text-right">
                            <p>أن نكون شريكًا لا غنى عنه لعملائنا من خلال حلولنا اللوجستية المخصصة.</p>
                            <p class="">نحافظ على قيمنا الأساسية المتمثلة في الصدق والنزاهة والسلامة لعملائنا.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End MISSION Section -->
        <!-- ======= Package Section ======= -->
        <div id="Package" class="site-section border-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="package-titel text-center">باقات البيزنس لكبار العملاء</h1>
                        <p class="package-text text-center mt-4">بداية من 600 اوردر شهريا الشحن 45</p>
                        <p class="package-text text-center">من 1200 اوردر الشحن 40</p>
                        <p class="package-text text-center">من 1800 اوردر الشحن 35</p>
                        <p class="package-text text-center">الاسعار كلها تشمل التغليف وعوده التحصيل</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Package Section -->
        <!-- ======= site-section Section ======= -->
        <div class="site-section border-top">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h2 class="mb-5 text-black">جرب خدماتنا</h2>
                        <p><a href="/Home/Login?ReturnUrl=%2F" target="_blank" class="btn btn-primary py-3 px-5 text-white">تسجيل الدخول</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End site-section Section -->
        <!-- ======= Our Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container">
                <div class="section-title text-center" data-aos="fade-up">
                    <h2> <strong>عملاؤنا</strong></h2>
                    <p>نحن فخورون بدعم عملائنا الأقوياء لنا لتمكين دورنا في سوق الخدمات اللوجستية وفي رحلتهم لتنمية أعمالهم.</p>
                </div>
                <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-2.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-3.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-4.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-5.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-6.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-7.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6">
                        <div class="client-logo">
                            <img src="~/Start/images/clients/client-8.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our Clients Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts section-bg mt-5">
            <div class="container">
                <div class="row counters" data-aos="fade-up">
                    <div class="col-lg-4 col-6 text-center">
                        <span class="counter-up">1232</span>
                        <p>العملاء</p>
                    </div>
                    <div class="col-lg-4 col-6 text-center">
                        <span class="counter-up">64</span>
                        <p>الشركات</p>
                    </div>
                    <div class="col-lg-4 col-6 text-center">
                        <span class="counter-up">42</span>
                        <p>مناديب</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Counts Section -->
        <!-- ======= footer Section ======= -->
        <footer id="footer" class="site-footer">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-6">
                        <div class="">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  by <a href="#" target="_blank">ProjectEgy</a>
                            </p>
                        </div>
                    </div>

                    <div class="social-links text-center text-md-right pt-3 pt-md-0">
                        <a href="#" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
                        <a href="#" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer Section -->
    </div>
    <script src="~/Start/js/jquery-3.3.1.min.js"></script>
    <script src="~/Start/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Start/js/jquery-ui.js"></script>
    <script src="~/Start/js/popper.min.js"></script>
    <script src="~/Start/js/bootstrap.min.js"></script>
    <script src="~/Start/js/owl.carousel.min.js"></script>
    <script src="~/Start/js/jquery.stellar.min.js"></script>
    <script src="~/Start/js/jquery.countdown.min.js"></script>
    <script src="~/Start/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Start/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Start/js/aos.js"></script>
    <script src="https://kit.fontawesome.com/4cd42776b2.js" crossorigin="anonymous"></script>
    <script src="~/Start/js/main.js"></script>
</body>
</html>
